<div class="rounded p-4 mb-4 text-lg bg-red-200 text-red-800 border-2 border-red-300" *ngIf="isSubmitted && errorMessage">
    {{ errorMessage }}
</div>
<form (ngSubmit)="onSubmit()" #offerForm="ngForm">
    <div class="mb-6">
        <label for="title" class="block mb-2 text-sm font-medium text-gray-900">Title</label>
        <input type="text" id="title" name="title"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
               placeholder="Title" required [(ngModel)]="offer.title" #title="ngModel">
        <div [hidden]="title.valid || title.pristine" class="text-red-500 mt-2">Title is required</div>
    </div>

    <div class="mb-6">
        <label for="offerTypeId" class="block mb-2 text-sm font-medium text-gray-900">Offer Type ID</label>
        <input type="number" id="offerTypeId" name="offerTypeId"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
               placeholder="Offer Type ID" required [(ngModel)]="offer.offerTypeId" #offerTypeId="ngModel">
        <div [hidden]="offerTypeId.valid || offerTypeId.pristine" class="text-red-500 mt-2">Offer Type ID is required</div>
    </div>

    <div class="mb-6">
        <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Description</label>
        <textarea id="description" name="description"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Description" required [(ngModel)]="offer.description" #description="ngModel"></textarea>
        <div [hidden]="description.valid || description.pristine" class="text-red-500 mt-2">Description is required</div>
    </div>

    <button type="submit" *ngIf="isAdd" [disabled]="!offerForm.form.valid || isSubmitted"
            class="text-white bg-blue-700 enabled:hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center disabled:opacity-75">Add</button>
    <button type="submit" *ngIf="isEdit" [disabled]="!offerForm.form.valid || isSubmitted"
            class="text-white bg-blue-700 enabled:hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center disabled:opacity-75">Save</button>
</form>
