<article *ngIf="offer" class="flex flex-col justify-between h-full bg-white border-gray-200 border-2 p-6 shadow">
    <h1 class="text-4xl my-3">{{offer.title}}</h1>
    <h4 class="text-xl my-3">{{offer.subtitle}}</h4>
    <figure class="self-center my-3">
        <img class="max-w-full h-auto" src="{{offer.imageUrl}}" alt="{{offer.imageCaption}}">
        <figcaption class="italic text-center">{{offer.imageCaption}}</figcaption>
    </figure>
    <p class="text-justify my-3">
        {{offer.content}}
    </p>
    <footer class="italic uppercase">
        <p>Author: {{offer.author}}, Published: {{offer.publishDate}}</p>
    </footer>
</article>