<article *ngIf="offer" class="flex flex-col justify-between h-full bg-white border-gray-200 border-2 p-6 shadow-lg rounded-lg">
    <h1 class="text-4xl my-3 font-bold">{{offer.title}}</h1>
    <p *ngIf="!isDetail" class="text-justify my-3 text-gray-700">
        {{offer.description | shortenContent : 250}}
    </p>
    <p *ngIf="isDetail" class="text-justify my-3 text-gray-700">
        {{offer.description}}
    </p>
    <div class="py-2 flex space-x-4">
        <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded" (click)="detail(offer.id)">Details</button>
        <div *ngIf="isShop && isAuthenticated">
            <button
                [disabled]="hasActiveBooking"
                [ngClass]="{
                    'bg-blue-500 hover:bg-blue-700': !hasActiveBooking,
                    'bg-gray-500': hasActiveBooking,
                    'text-white font-bold py-2 px-4 rounded': true
                }"
                (click)="bookOffer()">
                {{ hasActiveBooking ? 'Already Booked' : 'Book Offer' }}
            </button>
        </div>
        <button *ngIf="isAdmin()" (click)="deleteOffer(offer.id)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
    </div>
    <footer class="mt-4 text-gray-600">
        <p><span class="font-semibold">Mercenary:</span> {{offer.user.fullName}}</p>
        <p><span class="font-semibold">Published:</span> {{offer.publishDate | customDate}}</p>
        <p><span class="font-semibold">Offer Type:</span> {{offer.offerType.name}}</p>
    </footer>
</article>
